apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: axelar-node-data
  namespace: axelar-testnet
  labels:
    app.kubernetes.io/name: axelar
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: axelar-shared-data
  namespace: axelar-testnet
  labels:
    app.kubernetes.io/name: axelar
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
